@model IEnumerable<CinemaReservationSystem.Models.Screening>

@{
    ViewData["Title"] = "Index";
}

<h2>Movies</h2>
<form><input type="radio" name="selectOrder" checked="checked" value="Time" /> Time
    <input type="radio" name="selectOrder" value="Title"/> Title</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Title)
                </th>
                <th>@Html.DisplayNameFor(model => model.Auditorium.Name)</th>
            <th>@Html.DisplayNameFor(model=>model.ScreeningTime)</th>
            <th>@Html.DisplayNameFor(model=>model.Auditorium.NoOfFreeSeats)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>  @Html.DisplayFor(modelItem => item.Auditorium.Name)</td>
            <td> @Html.DisplayFor(modelItem => item.ScreeningTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Auditorium.NoOfFreeSeats)</td>
            <td>
                <a asp-action="Book" asp-route-id="@item.Id">Book tickets</a> 
            </td>
        </tr>
}
    </tbody>
</table>
