@model IEnumerable<CinemaReservationSystem.Models.Screening>

<link rel="stylesheet" type="text/css" href="~/css/StyleIndex.css">
@{
    ViewData["Title"] = "Index";

}

<h2>Movies</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Title)
                </th>
                <th>@Html.DisplayNameFor(model => model.Auditorium.Name)</th>
            <th>@Html.DisplayNameFor(model=>model.ScreeningTime)</th>
            <th>Tickets left</th>
            <th><strong>Sort:</strong> <a asp-action="Index" asp-route-sortOrder="timeSort" class="links">@Html.DisplayNameFor(model => model.ScreeningTime)</a> | <a asp-action="Index" asp-route-sortOrder="seatSort" class="links">@Html.DisplayNameFor(model => model.TicketsLeft)</a> </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>  @Html.DisplayFor(modelItem => item.Auditorium.Name)</td>
            <td> @Html.DisplayFor(modelItem => item.ScreeningTime)</td>
            @if (item.TicketsLeft>0)
            {
                <td>@Html.DisplayFor(modelItem => item.TicketsLeft)</td>
                <td>
                <a asp-action="Book" asp-route-id="@item.Id" class="links">Book tickets</a> 
                </td>
            }
            else
            {
                <td class="text-danger">@Html.DisplayFor(modelItem => item.TicketsLeft)</td>
                <td class="text-danger">Full booked</td>
            }
        </tr>
}
    </tbody>
</table>
