@model CinemaReservationSystem.Models.Reservation

@{

    @ViewData["Info"];

}
<h2>Booking confirmation</h2>
<h4>Confirmation id: @Html.DisplayFor(model => model.Id)</h4>
<p>Thank you for your reservation. <br />Your details:</p>
<br />

<strong>Date:</strong> 2018-03-25 <strong>Time:</strong> @Html.DisplayFor(model => model.Screening.ScreeningTime)
<br />
<strong>Movie:</strong> @Html.DisplayFor(model => model.Screening.Movie.Title)
<br />
<strong>Auditorium:</strong>
@Html.DisplayFor(model => model.Screening.Auditorium.Name)
<br />
<strong>Tickets booked:</strong>
@Html.DisplayFor(model => model.Tickets) in total.


